<div class="flex flex-col items-center px-40 mt-10">
    @if(isEdit){<h2 class="text-xl font-bold">Update Category</h2>}@else{<h2 class="text-xl font-bold">Add New Category</h2>}
    <form class="shadow-sm w-96 p-4" action="">
        <div class="flex flex-wrap">    
            <div class="w-full gap-4">
                <mat-form-field class="w-full">
                    <mat-label>Name</mat-label>
                    <input matInput  type="text" [(ngModel)]="name" name="name" placeholder="enter category"/>
                </mat-form-field>
            </div>
            <div class="w-full flex justify-center">
                <button mat-raised-button color="primary" [disabled]="!name" (click)="addCategory()" *ngIf="!isEdit">Add</button>
                <button mat-raised-button color="primary" [disabled]="!name" (click)="addCategory()" *ngIf="isEdit">Update</button>
            </div>
        </div>
    </form>
</div>
